body{
    background-color: #f7f7f7;
    color: #929d9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 50%;
    margin: auto;
    margin-top: 15%;
    overflow: hidden;
    border: 10px red hidden;
    text-align: center;
}

#main-header{
    width: 65%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}

.container-header{
    float: left;
}

.container-navbar{
    float: right;
}

#main-header h1{
    color: #929d9e;
    text-decoration: none;
    padding-left: 15px;
}

#main-header ul{
    padding: 0;
    list-style: none;
}

#main-header li{
    display: inline;
}

#main-header a{
    color: #929d9e;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
